<div class="cont">

	<h1>Nueva orden</h1>

	<%= render 'form', order: @order %>

	<div style="float: right;">
		<%= link_to '<i class="fas fa-long-arrow-alt-left"></i>'.html_safe, orders_path %>
	</div>
</div>