<div class="cont">

	<h1>Edición de platillo</h1>

	<%= render 'form', dish: @dish %>

	<div style="float: right;margin-bottom: 25px;">
		<%= link_to '<i class="fas fa-eye"></i>'.html_safe, @dish, style:"margin-right: 15px;" %>
		<%= link_to '<i class="fas fa-long-arrow-alt-left"></i>'.html_safe, dishes_path %>
	</div>
</div>