<div class="cont">
	<h1>Nuevo Restaurante</h1>

	<%= render 'form', restaurant: @restaurant %>

	<div style="float: right;">
		<%= link_to '<i class="fas fa-long-arrow-alt-left"></i>'.html_safe, restaurants_path %>
	</div>
</div>
